body {
    height: 100%;
    font-family: 微軟正黑體;
}

p {
    margin: 0;
}

table {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 28px;
}

/* .social {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding: 10px 0;
} */

.carousel {
    margin-top: 100px;
}

.carousel-inner {
    display: flex;
    max-height: 600px;
    align-items: center;
}

.banner {
    position: relative;
}

.banner-item{
    height: 600px;
}

.banner-item:first-child img {
    object-fit: contain;
}

.banner-item::after {
    content: "";
    display: block;
    width: 70%;
    height: 5rem;
    background-color: black;
    position: absolute;
    bottom: 1.25rem;
    right: 15%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    opacity: 0.5;
}

.carousel-title {
    position: relative;
    z-index: 1;
}

.carousel-img {
    object-fit: cover;
    height: 100%;
}

.container {
    display: block;
}

.news {
    display: flex;
    padding-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}
.news-title {
    font-size: 16px;
    margin: 0;
}
.news-content {
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
.news-img {
    height: 100px;
    padding: 5px;
    border: 2px solid #d2d2d2bd;
}
.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news a {
    text-decoration: none;
}

.news span {
    font-size: 12px;
}

.video {
    width: 100%;
    height: 500px;
}

#yt {
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.title {
    margin: 10px 0;
    font-weight: bold;
}

.title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    background-color: #c4c4c4;
}

.env {
    max-height: 180px;
    margin-bottom: 30px;
}

.roomImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
    padding: 1px;
    /* box-shadow: 4px 4px #ccc; */
}

.img-title {
    text-align: center;
    margin-top: 3px;
}

#map {
    width: 100%;
    height: 500px;
}

/** contact 頁面 **/

.grap-table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.grap-tr {
    font-weight: bold;
    background-color: #f1f1f1;
}

.grap-room {
    display: flex;
    flex-flow: wrap;
    padding: 5px 5px 0 5px;
}

.grap-room img {
    margin-right: 5px;
    margin-bottom: 5px;
}

.roomWrap {
    display: flex;
    justify-content: space-around;
}

.roomInfo {
    border: 1px solid #ccc;
    width: 100%;
    padding: 3px;
}

.roomInfoImg {
    height: 150px;
    overflow: hidden;
}

.roomInfoImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grap-info {
    text-align: left;
    font-size: 12px;
}

.grap-perman {
    font-size: 12px;
}

.contact {
    margin: 30px 0;
}

.infoNumber {
    margin-bottom: 5px;
}

.infoSign {
    font-size: 14px;
}

.accordion-button:not(.collapsed) {
    color: #000;
    /* background-color: rgba(204, 204, 204, 0.388); */
}

.notice-body {
    font-size: 14px;
}

.notice-cancel-line {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}

#footer {
    margin-top: 30px;
    padding: 3px 0;
    text-align: center;
    font-size: 12px;
}

/* Color */
.grey {
    color: #ccc;
}

.red {
    color: rgb(242, 56, 56);
}

.accordion-button:focus {
    /* background-color: #B2CE7E;
    color: #ccc; */
    box-shadow: none;
}

.accordion-body {
    display: flex;
    flex-direction: column;
}

.service-img {
    display: inline-block;
    margin-bottom: 5px;
}
.post {
    margin-top: 100px;
}
.post-content {
    margin-bottom: 20px;
}
.post-day {
    display: block;
    margin-top: -6px;
    margin-left: 3px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 12px;
}
.post-subcontent {
    padding-left: 20px;
}
.post-img img {
    display: block;
    margin-top: 20px;
    width: 500px;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .carousel-inner {
        height: 300px;
    }
    .carousel {
        margin-top: 50px;
    }
    .carousel-item {
        height: 300px;
    }
    .env {
        max-height: 120px;
    }
    .video {
        height: 200px;
    }
    #yt {
        height: 200px;
    }
    .post-img img {
        width: 100%;
    }
    .roomInfoImg {
        height: 60px;
    }
}

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */